<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Consumer Categories TC_172_TC_176 Suite" verbose="1">
	<listeners>
		<listener class-name="listeners.TestListener" />
		<listener class-name="listeners.RetryListener" />
	</listeners>

	<test name="Consumer Categories Related Shows Tests">
		<classes>
			<class name="tests.ConsumerCategoriesTests">
				<methods>
					<include name="verifyMoreRelatedShowsSectionVisible" />
					<include name="verifyClickingRelatedShowOpensDetails" />
					<include name="verifyBehaviorWhenNoRelatedShowsExist" />
					<include name="verifyViewAllOpensRelatedShowsPage" />
					<include name="verifyViewAllWhenRelatedListEmpty" />
				</methods>
			</class>
		</classes>
	</test>
</suite>
